#--------------------------------------------------
# min,hour,dayOfMonth,month,dayOfWeek command
#
# field          allowed values
# -----          --------------
# minute         0-59
# hour           0-23
# day of month   1-31
# month          1-12 (or names, see below)
# day of week    0-7 (0 or 7 is Sun, or use names)
#--------------------------------------------------

# try resetting the wifi when it gets lost
# ----------------------------------------
*/5 * * * * /usr/bin/sudo -H /var/www/radio/scripts/checkwifi.sh > /dev/null 2>&1

# espn (mike+mike at 6am and 7am)
# -------------------------------
0 6 * * 1-5 /var/www/radio/data/recordings/espn.sh  > /var/www/radio/logs/espn.log 2>&1
0 7 * * 1-5 /var/www/radio/data/recordings/espn.sh  > /var/www/radio/logs/espn.log 2>&1

# 104.3 (afternoon guys)
# ----------------------
0 12 * * 1-5 /var/www/radio/data/recordings/104_3.sh  > /var/www/radio/logs/104_3.log 2>&1
0 13 * * 1-5 /var/www/radio/data/recordings/104_3.sh  > /var/www/radio/logs/104_3.log 2>&1
0 15 * * 1-5 /var/www/radio/data/recordings/104_3.sh  > /var/www/radio/logs/104_3.log 2>&1
0 16 * * 1-5 /var/www/radio/data/recordings/104_3.sh  > /var/www/radio/logs/104_3.log 2>&1

# delete old recordings
# ---------------------
0 18 * * 2-6 find /var/www/radio/data/recordings -type f -name "*aac" -mtime +2 -exec rm {} \; > /dev/null 2>&1
0 18 * * 2-6 find /var/www/radio/data/recordings -type f -name "*mp3" -mtime +2 -exec rm {} \; > /dev/null 2>&1

# delete 'cue' files after a day
# ------------------------------
0 18 * * 2-6 find /var/www/radio/data/recordings -type f -name "*cue" -mtime +1 -exec rm {} \; > /dev/null 2>&1

# rss feeds
# ---------
0,15,30,45  * * * * /var/www/radio/scripts/get_feed.py TRIBUNE http://chicagotribune.feedsportal.com/c/34253/f/622872/index.rss > /var/www/radio/data/screensaver/tribune.out 2>&1
5,20,35,50  * * * * /var/www/radio/scripts/get_feed.py NPR http://www.npr.org/rss/rss.php?id=100 > /var/www/radio/data/screensaver/npr.out 2>&1
10,25,40,55 * * * * /var/www/radio/scripts/get_feed.py DENVER http://feeds.denverpost.com/dp-news-breaking > /var/www/radio/data/screensaver/denver.out 2>&1
1,31 7-14 * * 1-5 /var/www/radio/scripts/stock-prices.py > /var/www/radio/data/stocks.out 2>&1

1,16,31,46  * * * * /var/www/radio/scripts/cp-to-screensaver.sh /var/www/radio/data/screensaver/tribune.out
6,21,36,51  * * * * /var/www/radio/scripts/cp-to-screensaver.sh /var/www/radio/data/screensaver/npr.out
11,26,41,56 * * * * /var/www/radio/scripts/cp-to-screensaver.sh /var/www/radio/data/screensaver/denver.out

# weather
0,30        * * * * /var/www/radio/scripts/weather.py -lf2 80021 > /var/www/radio/data/weather.out


